<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/custom.form.css">
</head>
<body>
<div class="panel panel-default operation" hidden>
  <div class="panel-heading title"></div>
<div class="layui-card-body">
<form class="layui-form " action="" lay-filter="info" style="width: 700px;margin-top: 10px">
      <input name="id" hidden/>
        <div class="layui-form-item">
      <label class="layui-form-label">首页标题
</label>
      <div class="layui-input-block">
        <input type="name" name="name" placeholder="请输入首页标题
" autocomplete="off" class="layui-input">
      </div>
    </div>
    <!--<div class="layui-form-item">
        <label class="layui-form-label">主页图片</label>
        <div class="layui-upload">
            &lt;!&ndash;<label for="selectFiles" class="btn btn-sm btn-default upload-btn">
                上传附件
            </label>&ndash;&gt;
            <button type="button" class="layui-btn layui-btn-normal" id="selectFiles" style="display: none">选择多文件</button>
            <button type="button" class="layui-btn" id="selectFilesAction" style="display: none">开始上传</button>
            <div class="layui-upload-list">
                <table class="layui-table">
                    <thead>
                    <tr><th>文件名</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr></thead>
                    <tbody id="fileList"></tbody>
                </table>
            </div>
        </div>-->
    <div class="layui-form-item">

        <div class="layui-upload">
            <label class="layui-form-label">主页图片  </label>

            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <label>(建议大小1111*1111)</label>
            <div class="layui-input-block">
                <img src="" alt="" height="80px" width="80px" style="display: none" id="imgDiv">
            </div>
            <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
                <div id="innerdiv" style="position:absolute;">
                    <img id="bigimg" style="border:5px solid #fff;" src="" />
                </div>
            </div>

        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">启用图片</label>
        <div class="layui-input-block">
            <select  name="imgStatus" lay-verify="" lay-filter="imgStatus" id="imgStatus">
                <option value="">请选择</option>
                <option value="0">不启用</option>
                <option value="1">启用</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-upload">
            <label class="layui-form-label">主页视频</label>

            <button type="button" class="layui-btn" id="videoButton">
                <i class="layui-icon">&#xe67c;</i>上传视频
            </button>
            <div class="layui-input-block">
                <video id="videoDiv" src="" controls width="400px" heigt="400px" style="display: none"></video>

            </div>


        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">启用视频</label>
        <div class="layui-input-block">
            <select  name="videoStatus" lay-verify="" lay-filter="videoStatus" id="videoStatus">
                <option value="">请选择</option>
                <option value="0">不启用</option>
                <option value="1">启用</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">详细介绍</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="textValue" id="textValue"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序
        </label>
        <div class="layui-input-block">
            <input type="number" name="sort" placeholder="请输入排序" autocomplete="off" class="layui-input">
        </div>
    </div>
  <div class="layui-form-item">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>

</div>

<div class="table_div">
  <div id="searchParam"  shiro:hasPermission="comIndex:list">
  </div>
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add"  shiro:hasPermission="comIndex:add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" shiro:hasPermission="comIndex:delete">删除</button>
  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="comIndex:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="comIndex:delete">删除</a>
</script>

</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>
  //获取token
  var token = CoreUtil.getData("access_token");
  //地址栏转义token中的#号
  var tokenQuery = token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;
  var upload = layui.upload;

  layui.use(['table', 'layer', 'laydate'], function () {

    //加载table
    tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , headers: {"authorization": token}
      , page: true //开启分页
      , url: '/comIndex/listByPage' //数据接口
      , method: 'POST'
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
        return {
          "code": res.code, //解析接口状态
          "msg": res.msg, //解析提示文本
          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'},
          {field: 'id', title: 'id', sort: true},
          {field: 'name', title: '首页标题', sort: true},
          {field: 'textValue', title: '详细介绍', sort: true},
            {field: 'sort', title: '排序', sort: true},
          {width: 120, toolbar: "#tool", title: '操作'}
        ]
      ]
      , toolbar: '#toolbar'
    });

      function renderForm() {
          layui.use('form', function() {
              var form = layui.form;
              form.render();
          });
      }
    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");
            $(".operation input[name=id]").val("");
            $(".operation input[name=name]").val("");
            $('#textValue').val("");
            document.getElementById("imgDiv").src="";
            $('#imgStatus').val("");

            document.getElementById("videoDiv").src="";

            $('#videoStatus').val("");
            $('#sort').val("");
            renderForm();
          break;
      };
    });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'edit':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("编辑");

          $(".operation input[name=id]").val(data.id);
          $(".operation input[name=name]").val(data.name);
            $('#textValue').val(data.textValue);
            if(data.imgUrl!=''&&data.imgUrl!=null) {
                var img = document.getElementById("imgDiv");
                img.src = data.imgUrl;
                img.style='';
            }

            $('#imgStatus').val(data.imgStatus);
            if(data.videoUrl!=''&&data.videoUrl!=null){
                var video = document.getElementById("videoDiv");
                video.src = data.videoUrl;
                video.style='';
            }
            $('#videoStatus').val(data.videoStatus);
            $(".operation input[name=sort]").val(data.sort);
            renderForm();
          break;
      }
    });

    //导出
    $('#export').on('click', function () {
      //原先分页limit
      var exportParams = {
        limit: 10000,
        key: $("#key").val()
      };
      CoreUtil.sendPost("/comIndex/listByPage", exportParams, function (res) {
        //初始化渲染数据
        if (res.data != null && res.data.records != null) {
          table.exportFile(tableIns1.config.id, res.data.records, 'xls');
        }
      });
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete("/comIndex/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
        data.field.imgUrl= document.getElementById("imgDiv").src;
        data.field.videoUrl= document.getElementById("videoDiv").src;


        if(data.field.id===undefined || data.field.id===null || data.field.id===""){
            data.field.id=guid();
        CoreUtil.sendPost("/comIndex/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }else {
        CoreUtil.sendPut("/comIndex/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }

      return false;
    });
  });

  //执行查询
  function search() {
    //这里以搜索为例
    tableIns1.reload({
      where: { //设定异步数据接口的额外参数，任意设
        key: $("#key").val()
      }
      , page: {
        curr: 1 //重新从第 1 页开始
      }
    });
  };
  var uploadInst = upload.render({
      elem: '#test1' //绑定元素
      ,url: '/file/uploadFile' //上传接口
      ,cache: false,
      async: true,
      contentType: 'application/json; charset=UTF-8',
      dataType: "json",
      headers:{authorization:CoreUtil.getData("access_token")}

      ,done: function(res){
         if(res.code==0){
             //上传完毕回调
             var img = document.getElementById("imgDiv");
             img.src = res.data;
             img.style='';
         }else{
             layui.open("上传失败")
         }

      }
      ,error: function(){
          //请求异常回调
      }
  });
  var uploadInstVideo = upload.render({
      elem: '#videoButton' //绑定元素
      ,url: '/file/uploadFile' //上传接口
      ,cache: false,
      async: true,
      accept: 'video',
      contentType: 'application/json; charset=UTF-8',
      dataType: "json",
      headers:{authorization:CoreUtil.getData("access_token")}

      ,done: function(res){
          if(res.code==0){
              //上传完毕回调
              var video = document.getElementById("videoDiv");
              video.src = res.data;
              video.style='';
          }else{
              layui.open("上传失败")
          }

      }
      ,error: function(){
          //请求异常回调
      }
  });
  var oImg = document.getElementById("imgDiv");
  oImg.onclick = function(){
      var _this = $(this);//将当前的pimg元素作为_this传入函数
      imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
  };
  function imgShow(outerdiv, innerdiv, bigimg, _this){
      var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
      $(bigimg).attr("src", src);//设置#bigimg元素的src属性
      /*获取当前点击图片的真实大小，并显示弹出层及大图*/
      $("<img/>").attr("src", src).load(function(){
          var windowW = $(window).width();//获取当前窗口宽度
          var windowH = $(window).height();//获取当前窗口高度
          var realWidth = this.width;//获取图片真实宽度
          var realHeight = this.height;//获取图片真实高度
          var imgWidth, imgHeight;
          var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放
          if(realHeight>windowH*scale) {//判断图片高度
              imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放
              imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度
              if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度
                  imgWidth = windowW*scale;//再对宽度进行缩放
              }
          } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度
              imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放
              imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度
          } else {//如果图片真实高度和宽度都符合要求，高宽不变
              imgWidth = realWidth;
              imgHeight = realHeight;
          }
          $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放
          var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
          var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
          $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
          $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
      });
      $(outerdiv).click(function(){//再次点击淡出消失弹出层
          $(this).fadeOut("fast");
      });
  }
  function guid() {
      function S4() {
          return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
      }

      return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
  }
</script>